<div class="eui-table-v2__scrollable-wrapper">
  <lib-filter-chips (resetFilters)="resetFilters()" (removeChip)="removeChip($event)" [chips]="_agentConfigurationService.csrFiltersChips()" translocoPrefix="agentConfigurationFilters"></lib-filter-chips>
  <eui-block-content [isBlocked]="!csrData()">
    <table [isAsync]="true" [data]="csrData()?.items ?? []" euiTableV2 [isTableResponsive]="true" (sortChange)="onSortChange($event)">
      <ng-template euiTemplate="header">
        <tr>
          @if (isListView) {
            <th>{{ 'agentConfiguration.active' | translate }}</th>
          }
          <th>{{ 'agentConfiguration.name' | translate }}</th>
          @if (isListView) {
            <th isSortable sortOn="creationTimestamp">{{ 'agentConfiguration.creationTimestamp' | translate }}</th>
          }
          <th>{{ 'agentConfiguration.actions' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template let-row euiTemplate="body">
        <tr>
          @if (isListView) {
            <td [attr.data-col-label]="'agentConfiguration.active' | translate ">{{ (row.active | readableBoolean) | translate }}</td>
          }
          <td [attr.data-col-label]="'agentConfiguration.name' | translate">{{ row.name }}</td>
          @if (isListView) {
            <td
              [attr.data-col-label]="'agentConfiguration.creationTimestamp' | translate">{{ row.creationTimestamp | date: "dd/MM/yyyy" }}
            </td>
          }
          <td [attr.data-col-label]="'agentConfiguration.actions' | translate">
            @if (isListView) {
              <button data-testid="agentconfiguration_table_button_keypairdetail" (buttonClick)="keypairDetail.emit(row.id)" euiTooltip="{{'agentConfiguration.keypairDetail' | translate}}" [euiTooltipPrimary]="true" id="action-detail"
                      euiButton [euiBasicButton]="true" [euiRounded]="true" [euiIconButton]="true" euiPrimary euiSizeS>
                <eui-icon-svg icon="eye:outline" />
              </button>
            }
              <button data-testid="agentconfiguration_table_button_exportcsr" (buttonClick)="exportCsr.emit(row.id)" euiTooltip="{{'agentConfiguration.csr' | translate}}" [euiTooltipPrimary]="true" id="action-download"
                      euiButton [euiBasicButton]="true" [euiRounded]="true" [euiIconButton]="true" euiPrimary euiSizeS>
                <eui-icon-svg set="eui" icon="eui-ecl-download"></eui-icon-svg>
              </button>
          </td>
        </tr>
      </ng-template>
    </table>
  </eui-block-content>
</div>
<eui-paginator [hasDynamicLength]="true" [length]="csrData().total ?? 0"
               [pageSizeOptions]="[5, 10, 25, 100]"
               [page]="pagination().page" [pageSize]="pagination().pageSize" (pageChange)="onPageChange($event)"
               [hasPageNumberNavigation]="true" />


