<eui-page-header [isHeaderMultilines]="true" [label]="'agentConfiguration.wizard.credentials' | translate" [subLabel]="'agentConfiguration.wizard.credentialsMessage' | translate"></eui-page-header>
<eui-page-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <button data-testid="agentconfiguration_wizard_button_uploadfile" (buttonClick)="isDialogUploadOpen.set(true)" euiButton euiPrimary class="eui-u-mr-s eui-u-mb-s">
          <eui-icon-svg icon="eui-file-upload" />
          <span euiLabel>{{ 'agentConfiguration.wizard.uploadFile' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</eui-page-content>

@if (isDialogUploadOpen()) {
  <app-upload-credentials (dialogClose)="onDialogClose($event)"></app-upload-credentials>
}
