<eui-dialog #dialog
            [title]="'agentConfiguration.credentialsImport.title' | translate"
            [dismissLabel]="'agentConfiguration.credentialsImport.cancel' | translate"
            [acceptLabel]="'agentConfiguration.credentialsImport.confirm' | translate"
            [isHandleCloseOnAccept]="true"
            (accept)="onAccept()">


  @if (!loading()) {
    <p>{{'agentConfiguration.credentialsImport.message' | translate }}</p>
    <p>{{'agentConfiguration.credentialsImport.message2' | translate }}</p>

    <form [formGroup]="form" enctype="multipart/form-data">
      <eui-file-upload data-testid="agentconfiguration_form_input_uploadfile" [isMultiple]="false" formControlName="file" [progress]="progress()" [hasPreview]="false" hasDragArea="" [accept]="'.pem'">
      </eui-file-upload>
      <div euiInputGroup>
        <label euiLabel for="reason">{{ 'agentConfiguration.reasonLabel' | translate }}</label>
        <textarea euiTextArea formControlName="reason" data-testid="agentconfiguration_form_input_reason" id="reason" name="reason" rows="5" cols="33" [euiMaxlength]="1024"></textarea>
      </div>
    </form>
  } @else {
    <div class="eui-u-width-100 eui-u-flex row eui-u-flex-justify-content-center py-2">
      <p>{{'agentConfiguration.credentialsImport.loading'  | translate}}</p>
      <eui-progress-bar [progress]="progress()"></eui-progress-bar>
    </div>
  }
</eui-dialog>
