<eui-page-columns>
  <eui-page-column [isCollapsed]="true" [isCollapsible]="true" euiSizeVariant="3xl" [label]="'agentConfiguration.credentialsDetail.filters.title' | translate" class="ednel-filters">
    <eui-page-column-body>
      <form [formGroup]="credentialsFiltersForm" class="eui-u-flex eui-u-flex-column eui-u-flex-gap-s" id="filtersForm"
            (ngSubmit)="addFilter()">
        <div euiInputGroup>
          <label euiLabel for="status">{{ 'agentConfiguration.credentialsDetail.filters.status' | translate }}</label>
          <select data-testid="credentials_filter_input_status" euiSelect name="status" id="status" formControlName="status"
                  placeholder="{{ 'agentConfiguration.credentialsDetail.filters.placeholder.status' | translate }}">
            <option value="VALID">{{ 'agentConfiguration.credentialsDetail.filters.valid' | translate }}</option>
            <option value="EXPIRED">{{ 'agentConfiguration.credentialsDetail.filters.expired' | translate }}</option>
            <option value="REVOKED">{{ 'agentConfiguration.credentialsDetail.filters.revoked' | translate }}</option>
            <option value="SUSPENDED">{{ 'agentConfiguration.credentialsDetail.filters.suspended' | translate }}</option>
          </select>
        </div>
        <div euiInputGroup>
          <label euiLabel for="issuanceDateRange">{{ 'agentConfiguration.credentialsDetail.filters.issuanceDateRange' | translate }}</label>
          <eui-date-range-selector data-testid="credentials_filter_input_issuancedaterange" id="issuanceDateRange" formControlName="issuanceDateRange" [isResponsive]="true" [isClearable]="true"
                [firstInputPlaceholder]="'dateRange.start' | translate"
                [secondInputPlaceholder]="'dateRange.end' | translate"></eui-date-range-selector>
        </div>
        <div euiInputGroup>
          <label euiLabel for="expirationDateRange">{{ 'agentConfiguration.credentialsDetail.filters.expirationDateRange' | translate }}</label>
          <eui-date-range-selector data-testid="credentials_filter_input_expirationdaterange" id="expirationDateRange" formControlName="expirationDateRange" [isResponsive]="true" [isClearable]="true"
                [firstInputPlaceholder]="'dateRange.start' | translate"
                [secondInputPlaceholder]="'dateRange.end' | translate"></eui-date-range-selector>
        </div>
        <div class="ednel-button-group">
          <button data-testid="credentials_filter_input_reset" euiButton id="csr-filters-reset-button" type="button" class="eui-u-width-50"
                  euiSecondary (click)="resetCredentialsFilters()">
            {{ 'agentConfiguration.csrFilters.reset' | translate }}
          </button>
          <button data-testid="credentials_filter_input_submit" euiButton id="csr-filters-submit-button" type="submit" class="eui-u-width-50"
                  euiPrimary>
            {{ 'agentConfiguration.csrFilters.apply' | translate }}
          </button>
        </div>
      </form>

    </eui-page-column-body>
  </eui-page-column>
  <eui-page-column>
    <eui-page-column-body>
      <div class="eui-u-display-flex eui-u-mb-m eui-u-flex-align-items-center">
        <lib-filter-chips (resetFilters)="resetCredentialsFilters()" (removeChip)="onChipRemove($event)" [chips]="credentialsChips()" translocoPrefix="agentConfiguration.credentialsDetail"></lib-filter-chips>
      </div>
      <div class="ednel-table-scrollable-wrapper">
      <div class="ednel-table-container">
        <eui-block-content [isBlocked]="(credentials() | async) === null">
        <table (sortChange)="onSortChange($event)" #credentialsTable [data]="(tableData()?.items) ?? []" euiTableV2 [isTableResponsive]="true">
          <ng-template euiTemplate="header">
            <tr>
              <th isSortable sortOn="credentialId">
                {{ 'agentConfiguration.credentialsDetail.credentialId' | translate }}
              </th>
              <th isSortable sortOn="status">
                {{ 'agentConfiguration.credentialsDetail.credentials.status' | translate }}
              </th>
              <th isSortable sortOn="issuanceDate">
                {{ 'agentConfiguration.credentialsDetail.credentials.issuanceDate' | translate }}
              </th>
              <th isSortable sortOn="expiryDate">
                {{ 'agentConfiguration.credentialsDetail.credentials.expirationDate' | translate }}
              </th>
              <th>
                {{ 'agentConfiguration.credentialsDetail.credentials.actions' | translate }}
              </th>
            </tr>
          </ng-template>
          <ng-template let-row euiTemplate="body">
              <tr>
                <td>
                  <div class="eui-u-flex">
                    <span class="eui-u-mr-xs">
                      {{ row.credentialId | slice:0:4 }}...{{ row.credentialId | slice:-4 }}
                    </span>
                    @if (row.credentialId === (agentConfigurationService.activeCredential$| async)?.credentialId && row.status === 'VALID') { <eui-chip euiPrimary>{{'agentConfiguration.credentialsDetail.credentials.active' | translate}}</eui-chip> }
                  </div>
                </td>
                <td>
                    {{ 'filters.status.' + row.status | translate }}
                </td>
                <td>{{ row.issuanceDate  | i18nDate }}</td>
                <td>{{ row.expiryDate | i18nDate }}</td>
                <td>
                  @let message = ((row.credentialId === (agentConfigurationService.activeCredential$| async)?.credentialId) || row.status !== 'VALID') ? ('agentConfiguration.credentialsDetail.credentials.installNotPermitted' | translate) : 'agentConfiguration.credentialsDetail.credentials.installCredential' | translate;
                    <eui-icon-button data-testid="credentials_table_button_installcredential" [euiTooltip]="message" (buttonClick)="installCredential(row)" [euiDisabled]="((row.credentialId === (agentConfigurationService.activeCredential$| async)?.credentialId)  || row.status !== 'VALID')" icon="eui-checkmark:eui" ariaLabel="{{'agentConfiguration.credentialsDetail.credentials.installCredential' | translate}}"/>
                </td>
              </tr>
          </ng-template>
          <ng-template let-row euiTemplate="noData">
            <tr>
              <td class="eui-u-text-center" [attr.colspan]="5"> <span id="no-attributes-label">{{('agentConfiguration.credentialsDetail.credentials.noCredentials' | translate)}}</span></td>
            </tr>
          </ng-template>
        </table>
        </eui-block-content>
      <eui-paginator [length]="tableData()?.total ?? 0" [pageSizeOptions]="[5, 10, 25, 100]"
                     [page]="pagination().page" [pageSize]="pagination().pageSize" (pageChange)="onPageChange($event)"
                     [hasPageNumberNavigation]="true">
      </eui-paginator>
      </div>
      </div>
    </eui-page-column-body>
  </eui-page-column>
</eui-page-columns>

<eui-dialog #dialog
            [title]="'agentConfiguration.credentialsDetail.installCredentialDialogTitle' | translate"
            [acceptLabel]="'agentConfiguration.credentialsDetail.installCredentialDialogTitle' | translate"
            (accept)="onAccept()"
            (dialogClose)="onClose()">
  <div class="eui-u-flex-column eui-u-flex-gap-l">
    <div>{{'agentConfiguration.credentialsDetail.subTitle' | translate}}</div>
    <div>
      <span class="eui-u-f-bold">{{'agentConfiguration.credentialsDetail.issuanceDateLabel' | translate}}</span>
      {{credentialSelected?.issuanceDate | date: "dd/MM/yyyy"}}
    </div>
    <div>
      <span class="eui-u-f-bold">{{'agentConfiguration.credentialsDetail.credentialIdLabel' | translate}}</span>
      {{credentialSelected?.credentialId}}
    </div>
    <div>{{'agentConfiguration.credentialsDetail.installCredentialDialogMessage' | translate}}</div>
    <div>{{'agentConfiguration.credentialsDetail.confirmationQuestion' | translate }}</div>
    <div euiInputGroup>
      <label euiLabel for="reason">{{ 'agentConfiguration.reasonLabel' | translate }}</label>
      <textarea euiTextArea [(ngModel)]="reason" (ngModelChange)="onChangeReason($event)" data-testid="agentconfiguration_modal_input_reason" id="reason" name="reason" rows="5" cols="33" [euiMaxlength]="1024"></textarea>
    </div>
  </div>

</eui-dialog>




